body {
    background-color: brown;
}

h1 {
    color: blueviolet;
}

.title {
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}

#qwe {
    color: blue;
}